.chatRoom-center {
    display: flex;
    gap: 10px; 
    margin-top: 15px; 
    height: 50em;
}

.leftSide {
    display: grid;
    grid-template-columns: 200px;
    height: 750px;
    justify-content: center;
    gap: 10px;
    overflow-y: auto;
}

.rightSide {
    display: grid; 
    grid-template-columns: 400px;
    grid-template-rows: 350px;
    max-height: 650px;
}

