.navBarBody {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border: 1px solid black; 
    border-radius: 12px;
    margin-bottom: 10px;
}

.navigationLinks {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigationLinks button{
    border-radius: 10px; 
}

.leftNavBar {
    display: flex;
    flex-direction: column;
    height: 100;
}